:root {
    --accent-color: #2196F3;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-color-text: #212121;
    --secondary-color-text: #757575;
    --animation-cubik: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}